---
import Layout from "../layouts/Layout.astro";
import Topnav from "../components/Topnav.astro";
import Proyects from "../components/Proyects.astro";

import Presentation from "../components/Presentation.astro";
import Social from "../components/Social.astro";
---

<Layout>
  <Topnav />
  <main class="px-4 pt-32">
    <section class="w-[90%] lg:w-[740px] mx-auto xl:w-[90%] py-32">
      <Presentation />
      <nav class="flex gap-2 mt-8 flex-wrap">
        <Social />
      </nav>
    </section>
    <section class="w-[90%] lg:w-[740px] mx-auto xl:w-[90%]">
      <Proyects />
    </section>
  </main>
</Layout>
