---
// Props: tecnologias es un array de objetos con { name: string, icon: string }
// icon debe ser la ruta relativa a la imagen en /public/icons o URL externa
const { tecnologias } = Astro.props;
---

<section id="About" class="w-[95%] lg:w-[90%] mx-auto xl:w-[95%] py-32
 z-30">
  <h1 class="text-4xl font-bold ml-16 pb-8">Acerca de mi</h1>
  <div
    class="flex md:justify-between flex-col justify-center items-center md:flex-row"
  >
    <section class="md:w-[48%] pb-8 md:pb-0">
      <div
        class="p-2 border border-white/5 bg-white/2 rounded-2xl mx-5 md:ml-10"
      >
        <p class="text-pretty p-4">
          Apasionado por construir soluciones backend robustas, mientras avanzo
          hacia el dominio fullstack. Empezo como hobbie pero actualmente estoy
          en formación técnica, busco oportunidades para aplicar mis habilidades
          en entornos reales y aprender colaborativamente.
        </p>
        <p class="text-pretty px-4 pb-4 italic text-sm">
          Si puedes imaginarlo, puedes programarlo.
        </p>
      </div>
    </section>

    <section class="md:w-[48%]">
      <div
        class="border border-white/5 p-4 rounded-2xl mx-5 sm:mx-0 bg-white/2 backdrop-blur-lg"
      >
        <h2 class="text-2xl font-bold ml-4 mt-2 mb-5">Formacion:</h2>
        <p class="text-lg font-semibold px-4">
          Desarrollo de Software Tecnico. (2024 - 2026)
        </p>
        <p class="text-pretty italic px-4 py-2.5">
          - Desarrollo de proyectos tecnológicos. <br />
          - Participación en ferias científicas con soluciones innovadoras.
        </p>
      </div>
    </section>
  </div>
  <section class="p-4 backdrop-blur-lg mx-0 xl:mx-36 my-10">
    <h3 class="text-2xl text-center font-semibold mb-5">Tecnologías:</h3>

    <div class="flex gap-2 md:gap-3 lg:gap-5 flex-wrap justify-center">
      {
        tecnologias.map((tecnologia: { name: string; icon: string }) => (
          <div
            class="flex flex-col items-center justify-center rounded-xl transition
            border border-white/5 bg-white/3 hover:bg-white/5 size-24 shadow hover:shadow-lg hover:scale-105"
            title={tecnologia.name}
          >
            <img
              src={tecnologia.icon}
              alt={tecnologia.name}
              class="w-10 h-10 "
            />
            <span class="mt-1 text-sm">{tecnologia.name}</span>
          </div>
        ))
      }
    </div>
  </section>
</section>
