---
import Badge from "./Badge.astro";
---

<h1
  class="text-white text-3xl md:text-4xl lg:text-5xl font-bold sm:flex pb-6 lg:pb-10 sm:flex-row gap-x-4 flex-col"
>
  Hey, soy Joseph <div
    class="flex justify-start mt-4 sm:mt-0 sm:justify-center items-center"
  >
    <Badge>Disponible</Badge>
  </div>
</h1>
<h2
  class="lg:text-2xl text-white opactiy-80 text-pretty max-w-[700px] sm:text-xl"
>
  Desarrollador Full Stack en formaci贸n, con una fuerte inclinaci贸n por el
  backend y la construcci贸n de soluciones funcionales, modernas y s贸lidas.
</h2>
