<header
  class="flex justify-between items-center py-3 mx-auto w-full max-w-[90%]"
>
  <img src="/pfp.webp" alt="Joseph photo" class="rounded-full size-12" />

  <nav class="flex flex-row text-sm sm:text-base gap-x-4 sm:gap-x-8">
    <a href="#">Home</a>
    <a href="#About">About</a>
    <a href="#Proyects">Proyectos</a>
    <a href="#Contact">Contact</a>
  </nav>
</header>
