<section class="max-w-[90%] mx-auto flex justify-between bg-[#171717]">
  <section class="ml-[2%]">
    <img src="/public/pfp.webp" alt="pfp" class="size-14 rounded-full" />
  </section>
  <section class="mr-[2%]">
    <nav>
      <ul class="flex gap-x-8 pt-4">
        <li><a href="#">Home</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </nav>
  </section>
</section>
