<header
  class="fixed flex justify-between items-center py-3 w-full bg-white/1 px-12 backdrop-blur-xs"
>
  <img src="/pfp.webp" alt="Joseph photo" class="rounded-full size-12" />

  <nav class="flex flex-row text-sm sm:text-base gap-x-4 sm:gap-x-8">
    <a
      href="#"
      class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
      >Home</a
    >
    <a
      href="#About"
      class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
      >About</a
    >
    <a
      href="#Proyects"
      class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
      >Proyectos</a
    >
    <a
      href="#Contact"
      class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
      >Contact</a
    >
  </nav>
</header>
