<header class="fixed w-full z-50">
  <div
    id="topnav"
    class="flex justify-between w-full items-center py-2 px-10 fade-slide-down
    transition-all max-w-screen duration-300 mx-auto ease-in-out border-transparent"
  >
    <img src="/pfp.webp" alt="Joseph photo" class="rounded-full size-12" />

    <nav class="flex flex-row text-sm sm:text-base gap-x-4 sm:gap-x-8">
      <a
        href=""
        data-scroll-to="Home"
        class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
        >Inicio</a
      >
      <a
        href=""
        data-scroll-to="About"
        class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
        >Sobre mi</a
      >
      <a
        href=""
        data-scroll-to="Proyects"
        class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
        >Proyectos</a
      >
      <a
        href=""
        data-scroll-to="Posts"
        class="text-slate-50 opacity-80 hover:opacity-100 transition hover:scale-105"
        >Posts</a
      >
    </nav>
  </div>
</header>

<script is:inline>
  const topnav = document.getElementById(`topnav`);
  window.addEventListener("scroll", () => {
    if (window.scrollY > 20) {
      topnav.classList.remove("w-full");
      topnav.classList.add(
        "w-[98%]",
        "backdrop-blur-xs",
        "translate-y-2",
        "bg-white/2",
        "border",
        "border-white/10",
        "rounded-xl"
      );
    } else {
      topnav.classList.add("w-full");
      topnav.classList.remove(
        "backdrop-blur-xs",
        "translate-y-2",
        "bg-white/2",
        "border",
        "border-white/10",
        "rounded-xl"
      );
    }
  });

  document.querySelectorAll("[data-scroll-to]").forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      const targetId = link.getAttribute("data-scroll-to");
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth" });
      }
    });
  });
</script>
